#playingHeader{
    display: none;
}

#playingMain{
    display: none;
}

#highscoresHeader{
    display: none;
}

#highscoresMain{
    display: none;
}

#scoreScreenHeader{
    display: none;
}

#scoreScreenMain{
    display: none;
}